* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 18%);
    color: hsl(60, 3%, 93%);
}

.wrapper {
    height: 50%;
    width: 60%;
    margin: 0 auto;
    margin-top: 12%;
}

.title_text {
    font-size: 12vmin;
}

.subtitle_text {
    font-size: 6vmin;
}

.main_button {
    background-color: hsl(60, 3%, 93%);
    color: hsl(0, 0%, 18%);
    border-radius: 10px;
    border-style: solid;
    border-color: hsl(60, 3%, 93%);
    height: 40px;
    width: 120px;
}